<div class="user-details">
  <div class="image-cropper">
    <img src="/assets/images/DSC_5644-XL.jpg" class="rounded" style="vertical-align: middle; width: 512; height: 512px; overflow: hidden; border-radius: 50%;"/>
  </div>
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Think</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Microsoft_Office_Visio_%282019%29.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Microsoft_Office_OneNote_%282019%E2%80%93present%29.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <p>I feel comfortable working on the front-end, going from pure CSS &amp; HTML5 to Sass, Bootstrap or AngularJS/2+, VueJS and whatever!</p>  
  </div>
  <div class="tech">
    <h2>Plan</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />      
    <p>Most of my work has been in JavaScript/TypeScript, but I am quite familiar with Python and Java as well.</p>
  </div>
  <div class="tech">
    <h2>Execute</h2>
    <img src="https://www.vectorlogo.zone/logos/ubuntu/ubuntu-icon.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Microsoft_Office_Visio_%282019%29.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Microsoft_Office_OneNote_%282019%E2%80%93present%29.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
<div class="user">
  <div class="tech">
    <h2>Design & Track</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Microsoft_Office_Visio_%282019%29.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Microsoft_Office_OneNote_%282019%E2%80%93present%29.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <p>I feel comfortable working on the front-end, going from pure CSS &amp; HTML5 to Sass, Bootstrap or AngularJS/2+, VueJS and whatever!</p>  
  </div>
  <div class="tech">
    <h2>Code</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />      
    <p>Most of my work has been in JavaScript/TypeScript, but I am quite familiar with Python and Java as well.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="https://www.vectorlogo.zone/logos/ubuntu/ubuntu-icon.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Microsoft_Office_Visio_%282019%29.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Microsoft_Office_OneNote_%282019%E2%80%93present%29.svg" alt="" width="auto" height="60" style="object-fit: contain; height: 60px; width: auto;" />
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
