<div id="particles-js">
  <div class="header"> 
    <div class="header-icons">
      <a aria-label="Home" target="_blank" href="/index.html">Home<i class="icon fa fa-home" aria-hidden="true"></i></a>
      <a aria-label="Letters of Recommendation" target="_blank" href="/letters.html">Certs<i class="icon fa fa-thumbs-o-up" aria-hidden="true"></i></a>
      <a aria-label="My Resume" target="_blank" href="/resume.html">Resume<i class="icon fa fa-address-card-o" aria-hidden="true"></i></a>
    </div>
    <h1>
      <span class="site-title">{{ site.section_letters }}</span>
      <!-- <span class="site-description">{{ site.user_title }}</span> -->
    </h1>
  </div>
  <a class="down" href="about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
