<div id="particles-js">
  <div class="header"> 
    <div class="header-icons">
      <a aria-label="Home" target="_blank" href="/" style="font-size: 30px; color: white; font-family: 'Montserrat', sans-serif; text-decoration: none;">
        <div class="icon-container">
          <i class="icon fa fa-home" aria-hidden="true"></i>
          <span class="link-text">Home</span>
        </div>
      </a>
      <a aria-label="Letters of Recommendation" target="_blank" href="/letters.html" style="font-size: 30px; color: white; font-family: 'Montserrat', sans-serif; text-decoration: none;">
        <div class="icon-container">
          <i class="icon fa fa-thumbs-o-up" aria-hidden="true"></i>
          <span class="link-text">LoR</span>
        </div>
      </a>
      <a aria-label="" target="_blank" href="/resume.html" style="font-size: 30px; color: white; font-family: 'Montserrat', sans-serif; text-decoration: none;">
        <div class="icon-container">
          <i class="icon fa fa-address-card-o" aria-hidden="true"></i>
          <span class="link-text">Resume</span>
        </div>
      </a>
    </div>
    <h1>
      <span class="site-title">Certifications</span>
      <!-- <span class="site-description">{{ site.user_title }}</span> -->
    </h1>
  </div>
  <a class="down" href="about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>