<!DOCTYPE html>
<html>
<body>
    <header>
        <h1  style="display: flex; justify-content: center;">Letters of Recommendation</h1>
    </header>
    <main>
        <section class="reviews">
            <div class="flex-container" style="display: flex; justify-content: center;">
                <!-- First Review Section -->
                <div style="width: 40%; float: none; margin-right: 20px; border-radius: 20px; background-color: #f2f2f2; padding: 20px;">
                    <h2 style="text-align: center;padding-top: 0px;margin-top: 25px;margin-bottom: 25px;">Sean Ward</h2>
                    <iframe src="/assets/pdfs/Letter of Recommendation - Sean Ward.pdf" width="100%" height="300" style="border: none"></iframe>
                    <p><a href="/assets/pdfs/Letter of Recommendation - Sean Ward.pdf" target="_blank" style="color: #555; font-family: 'Montserrat', sans-serif; text-decoration: none; display: flex; justify-content: center;">Download Sean's Recommendation</a></p>
                </div>

                <!-- Second Review Section -->
                <div style="width: 40%; float: none; margin-right: 20px; border-radius: 20px; background-color: #f2f2f2; padding: 20px;">
                    <h2 style="text-align: center;padding-top: 0px;margin-top: 25px;margin-bottom: 25px;"></h2>David Black</h2>
                    <iframe src="/assets/pdfs/Jlevinson - Resume.pdf" width="100%" height="300" style="border: none"></iframe>
                    <p><a href="/assets/pdfs/Jlevinson - Resume.pdf" target="_blank" style="font-family: 'Montserrat', sans-serif; text-decoration: none; display: flex; justify-content: center;">Review 2</a></p>
                </div>
            </div>
            <!-- Add more reviews as needed -->
        </section>
    </main>
</body>
</html>
