<!DOCTYPE html>
<html>
  <head>
    <title>LoRs & Preformance Reviews</title>
  </head>
<body>
  <header>
      <h1>Performance Reviews</h1>
  </header>
  <main>
      <section class="reviews">
          <h2>Reviews</h2>
          <ul>
              <li><a href="/assets/pdfs/Letter of Recommendation - Sean Ward.pdf" target="_blank">LoR - Meriplex - Sean Ward</a></li>
              <li><a href="/assets/pdfs/Jlevinson - Resume.pdf" target="_blank">Review 2</a></li>
              <!-- Add more reviews as needed -->
          </ul>
      </section>
  </main>
</body>
</html>

