<div id="particles-js">
  <div class="header"> 
    <div class="header-icons">
      <a aria-label="Home" target="_blank" href="/#" style="font-size: 30px; color: white; font-family: 'Montserrat', sans-serif; text-decoration: none; padding: 10px 20px;">Home</a>
      <a href="letters" style="font-size: 30px; color: white; font-family: 'Montserrat', sans-serif; text-decoration: none; padding: 10px 20px;">Letters</a>
      <a aria-label="My Resume" target="_blank" href="/resume.html" style="font-size: 30px; color: white; font-family: 'Montserrat', sans-serif; text-decoration: none; padding: 10px 20px;">Resume</a>
    </div>
    <h1>
      <span class="site-title">Learning</span>
      <span class="site-description">Education & Certifications</span>
    </h1>
  </div>
  <a class="down" href="about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>