<!DOCTYPE html>
<html>
  <head>
    <title>LoRs & Preformance Reviews</title>
  </head>
  <body>
    <h1>PDF Example by Object Tag</h1>
    <object data="/assets/pdfs/Letter of Recommendation - Sean Ward.pdf" type="application/pdf" width="50%" height="500px">
      <p>Unable to display PDF file. <a href="/assets/pdfs/Letter of Recommendation - Sean Ward.pdf">Download</a> instead.</p>
    </object>
    <h1>PDF Example by Object Tag</h1>
    <object data="/assets/pdfs/Letter of Recommendation - Sean Ward.pdf" type="application/pdf" width="50%" height="500px">
      <p>Unable to display PDF file. <a href="/assets/pdfs/Letter of Recommendation - Sean Ward.pdf">Download</a> instead.</p>
    </object>
  </body>

