<!DOCTYPE html>
<html>
<head>
</head> 
<body>
    <header>
        <h1  style="display: flex; justify-content: center;">Letters of Recommendation</h1>
    </header>
    <main>
        <section class="reviews">
            <div class="flex-container" style="display: flex; justify-content: center;">
                <!-- First Review Section -->
                <div style="width: 40%;float: none;margin-right: 20px;border-radius: 20px;background-color: #f2f2f2;padding: 20px;margin-left: 20px;">
                  <div class="avatar_box" style="display: flex; align-items: center;">
                    <h2 style="padding-top: 0px;margin-top: 25px;margin-bottom: 25px; width: 72%;">Sean Ward<br>Meriplex</h2>
                    <img src="https://media.licdn.com/dms/image/D5603AQE5bSaO8XcE2w/profile-displayphoto-shrink_200_200/0/1682366519922?e=1700092800&v=beta&t=ojbTqxwQnX_6u0tkPLBGXHqJVVyz_j9uYspqgdUTo3M" class="avatar" style="vertical-align: middle; border-radius: 50%; width: 17.5%; margin-left: 20px;">
                  </div>
                    <iframe src="/assets/pdfs/Letter of Recommendation - Sean Ward.pdf" width="100%" height="300" style="border: none"></iframe>
                    <p><a href="/assets/pdfs/Letter of Recommendation - Sean Ward.pdf" target="_blank" style="color: #555; font-family: 'Montserrat', sans-serif; text-decoration: none; display: flex; justify-content: center;">Download Sean's Recommendation</a></p>
                </div>

                <!-- Second Review Section -->
                <div style="width: 40%;float: none;margin-right: 20px;border-radius: 20px;background-color: #f2f2f2;padding: 20px;margin-left: 20px;">
                  <div class="avatar_box" style="display: flex; align-items: center;">
                    <h2 style="padding-top: 0px;margin-top: 25px;margin-bottom: 25px; width: 72%;">David Black<br>GFI Digital</h2>
                    <img src="https://media.licdn.com/dms/image/C5103AQEReHuTxPtzFQ/profile-displayphoto-shrink_200_200/0/1516350538050?e=1700092800&v=beta&t=R-87DX5vjzeGVosHchrYrRJ_N_3Qc8JdMWAxBVEmaAY" class="avatar" style="vertical-align: middle; border-radius: 50%; width: 17.5%; margin-left: 20px;">
                  </div>
                    <iframe src="/assets/pdfs/Jlevinson - Resume.pdf" width="100%" height="300" style="border: none"></iframe>
                    <p><a href="/assets/pdfs/Jlevinson - Resume.pdf" target="_blank" style="color: #555; font-family: 'Montserrat', sans-serif; text-decoration: none; display: flex; justify-content: center;">Download David's Recommendation</a></p>
                </div>
               
                <!-- Third Review Section -->
                <div style="width: 40%;float: none;margin-right: 20px;border-radius: 20px;background-color: #f2f2f2;padding: 20px;margin-left: 20px;">
                  <div class="avatar_box" style="display: flex; align-items: center;">
                    <h2 style="padding-top: 0px;margin-top: 25px;margin-bottom: 25px; width: 72%;">Rene Alvarez<br>Tetra Technologies</h2>
                    <img src="https://www.une.edu/sites/default/files/2021-05/default-person.png" class="avatar" style="vertical-align: middle; border-radius: 50%; width: 17.5%; margin-left: 20px;">
                  </div>
                  <iframe src="/assets/pdfs/Jlevinson - Resume.pdf" width="100%" height="300" style="border: none"></iframe>
                  <p><a href="/assets/pdfs/Jlevinson - Resume.pdf" target="_blank" style="color: #555; font-family: 'Montserrat', sans-serif; text-decoration: none; display: flex; justify-content: center;">Download Rene's Recommendation</a></p>
                </div>  
            </div>              
            <!-- Add more reviews as needed -->
        </section>
    </main>
    <header>
      <h1  style="display: flex; justify-content: center;">References</h1>
    </header>
    <div class="container" style="z-index: 1; background: white; padding: 2em; display: flex; align-items: center; max-width: 33%;">
        <img src="https://www.une.edu/sites/default/files/2021-05/default-person.png" class="avatar" style="border-radius: 50%; width: 17.5%; margin-right: 2em;">
        <blockquote style="padding: 1em 1em 1em 1em;color: #999;flex: 1;margin-left: 5px;">
        <p style="color: #555;"><em>"I had the opportunity to work with Jordan both as a contractor and a coworker. I was able to witness both the breadth and scope of his vast knowledge. He has an acute attention to detail and possesses both the drive and determination to push projects past the finish line. I hope to work with him again on future projects."</em></p>
        <footer> <cite>Dwayne D. - Engineer</cite> </footer>
        </blockquote>
    </div>
    <div class="container" style="z-index: 1; background: white; padding: 2em; display: flex; align-items: center; max-width: 33%;">
      <img src="https://media.licdn.com/dms/image/C5103AQEq-CPPkwrAsQ/profile-displayphoto-shrink_200_200/0/1516460337199?e=1700092800&v=beta&t=j0pvk1BnR34MDlXt-gWiykF-YJsR9N5mWOHFBFEJyWQ" class="avatar" style="border-radius: 50%; width: 17.5%; margin-right: 2em;">
      <blockquote style="padding: 1em 1em 1em 1em;color: #999;flex: 1;margin-left: 5px;">
      <p style="color: #555;"><em>"I had the opportunity to work with Jordan both as a contractor and a coworker. I was able to witness both the breadth and scope of his vast knowledge. He has an acute attention to detail and possesses both the drive and determination to push projects past the finish line. I hope to work with him again on future projects."</em></p>
      <footer> <cite>Laura S. - Engineer - Meta</cite> </footer>
      </blockquote>
  </div>
</body>
</html>
