<div id="particles-js">
  <div class="header"> 
    <div class="header-icons">
      <a aria-label="Home" target="_blank" href="/" style="font-size: 30px; color: white; font-family: 'Montserrat', sans-serif; text-decoration: none;">Home</a>
      <a aria-label="My Certifications" target="_blank" href="/certifications.html" style="font-size: 30px; color: white; font-family: 'Montserrat', sans-serif; text-decoration: none;">Certs</a>
      <a aria-label="My Resume" target="_blank" href="/resume.html" style="font-size: 30px; color: white; font-family: 'Montserrat', sans-serif; text-decoration: none;">Resume</a>
    </div>
    <h1>
      <span class="site-title">Letters of Recommendation</span>
      <!-- <span class="site-description">{{ site.user_title }}</span> -->
    </h1>
  </div>
  <a class="down" href="about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
