<div id="particles-js">
  <div class="header"> 
    <div class="header-icons">
      <a aria-label="Home" href="/" style="font-size: 30px; color: white; font-family: 'Montserrat', sans-serif; text-decoration: none; padding: 10px 20px;">Home</a>
      <a aria-label="Learning" href="/learning.html" style="font-size: 30px; color: white; font-family: 'Montserrat', sans-serif; text-decoration: none; padding: 10px 20px;">Learning</a>
      <a aria-label="Letters of Recommendation" href="/letters.html" style="font-size: 30px; color: white; font-family: 'Montserrat', sans-serif; text-decoration: none; padding: 10px 20px;">Letters</a>
    </div>
    <h1>
      <span class="site-title">Resume</span>
      <span class="site-description">CV - Work History</span>
    </h1>
  </div>
  <a class="down" href="resume" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
