@import "lib/normalize";
@import "lib/fontawesome";
@import "lib/devicon";

@import 'base';
@import 'vars';
@import 'animation';
@import 'header';
@import 'about';
@import 'footer';
@import 'letters';
@import 'certifications';

/* Styles for the header links */
.nav-container {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 2;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif; /* Replace with your desired font */
    color: white;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .nav-links a {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 24px;
    color: #FFF;
    text-decoration: none;
    margin-right: 20px; /* Adjust the margin as needed to space out the links */
    font-family: 'Montserrat', sans-serif; 
  }
  
  /* Add hover effect if desired */
  .nav-links a:hover {
    text-decoration: underline;
  }